{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
